<html>

<head>
    <title>NetworkX Demo</title>
    <!-- <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"> -->
    <link href="/static/styles.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>NetworkX Demos</h1>
        <ul>
            <li><a href="/hello/world">/hello/world</a></li>
            <li><a href="/graph/paths/shortest/D/to/H">/graph/paths/shortest/D/to/H</a></li>
            <li><a href="/graph/paths/shortest/D/to/G/visualize">/graph/paths/shortest/D/to/G/visualize</a></li>
            <li><a href="/graph/paths/all/B/to/H">/graph/paths/all/B/to/H</a></li>
            <li><a href="/graph/visualize">/graph/visualize</a></li>
        </ul>
    </div>
</body>

</html>